.skip-link {
  position: fixed;
  top: -100vh;
  left: 0;
  background-color: var-color(--dark, .75);
  width: 100%;
  height: 100vh;
  color: var-color(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: $font-weight-semi;
  letter-spacing: 1px;
  font-size: $font-size-base * 2;
  z-index: 99;
}

.skip-link:focus {
  visibility: visible;
}


.skip-link:focus {
  top: 0;
}

#main-content {
  padding: 90px 0 60px;
  background-color: var-color(--bg);
}
