$rating-size: 42px;
$rating-position: 20px;

.result {
  padding: 90px 0 60px;

  .wrap-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.card {
  max-width: 340px;
  border-radius: 6px;
  margin: 10px;
  overflow: hidden;
  background: var-color(--white);
  box-shadow: 0 5px 20px var-color(--dark, .14);

  &:hover {
    img {
      transform: scale(1.1);
    }

    .location {
      left: 0;
    }
  }

  a {
    color: var-color(--dark);
  }

  .image {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: percentage(2/3);
  }

  img {
    transition: all .3s ease;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .rating {
    position: absolute;
    z-index: 1;
    right: $rating-position;
    top: $rating-position;
    background: var-color(--orange);
    width: $rating-size;
    height: $rating-size;
    color: var-color(--white);
    display: flex;
    justify-content: center;
    align-items: center;

    > span {
      font-weight: $font-weight-semi;
      font-size: $font-size-lg;
      position: absolute;
      z-index: 1;
      margin: auto;
    }
    
    &::before, 
    &::after {
      content: '';
      position: absolute;
      width: $rating-size;
      height: $rating-size;
      background: var-color(--orange);
    }

    &::before {
      transform: rotate(30deg);
    }
    
    &::after {
      transform: rotate(-30deg);
    }
  }

  .location {
    position: absolute;
    left: -80%;
    bottom: 12px;
    padding: 13px 18px;
    background: var-color(--white);
    font-size: $font-size-base * 1.15;
    font-weight: $font-weight-semi;
    transition: left .3s ease-in-out;

    &::before {
      content: '\f041';
      font-family: 'FontAwesome';
      display: inline-block;
      margin-right: 6px;
    }

    &::after {
      content: '';
      position: absolute;
      border-style: solid;
      top: 0;
      right: -18px;
      border-width: 22.5px 18px;
      border-color: var-color(--white) transparent var-color(--white) var-color(--white);
      z-index: 1;
    }
  }

  .content {
    padding: 14px 20px;

    > a {
      display: block;
      padding: 8px 0;
    }
  }
  
  h2 {
    @include truncate(76px, 2);
    font-weight: $font-weight-semi;
    margin-bottom: 4px;
  }
  
  p {
    @include truncate(80px, 3);
    font-weight: $font-weight-normal;
    line-height: 1.25;
    margin-bottom: 7px;
    color: var-color(--semi-dark, .8);
  }
}