.search {
  text-align: center;
  padding: 90px 0 0;
  
  .heading {
    max-width: 360px;
    margin: auto auto 40px;
  }

  .input-group {
    width: 80%;
    max-width: 520px;
    margin-right: 18px;
  }
  
  h1 {
    font-weight: $font-weight-semi;
  }

  p {
    color: var-color(--semi-dark);
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  input {
    border: none;
    padding: 16px;
    font-size: $font-size-base;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 5px 30px var-color(--semi-dark, .14);
  }

  label {
    display: none;
  }

  button {
    border: none;
    padding: 14px 18px;
    font-size: 20px;
    color: var-color(--white);
    background: var-color(--orange);
    border-radius: 4px;
    box-shadow: 0 5px 30px var-color(--orange, .5);

    .desc {
      display: none;
      margin-left: 10px;
      font-weight: $font-weight-semi;
    }
  }
}

@media (max-width: 756px) {
  .search {
    .input-group {
      max-width: 380px;
    }
  }
}

@media (max-width: 756px) {
  .search {
    form {
      flex-direction: column;
    }

    .input-group {
      max-width: calc(100% - 40px);
      width: 100%;
      margin: 0 0 18px 0;
    }

    button {
      .desc {
        display: inline-block;
      }
    }
  }
}
