<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asupan Wareg</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Mudahkan anda mencari sesuatu yang membuatmu menjadi kenyang!" />
    <meta name="keywords" content="asupan wareg, wareg, asupan kenyang, kenyang, asupan tuwuk, tuwuk, dicoding, restoran, katalog restoran" />
    <meta name="msapplication-TileColor" content="#F35B46" />
    <meta name="theme-color" content="#F35B46" />
    <meta name="author" content="Rizal Arfiyan" />
    <link rel="preload" href="https://restaurant-api.dicoding.dev" />
    <link href='./favicon.ico' rel='icon' type='image/x-icon'/>
    <link rel="apple-touch-icon" sizes="57x57" href="./images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
</head>
<body>
  <a href="#main-content" class="skip-link">Menuju ke konten</a>
  <header class="hero">
    <div class="wrap-hero">
      <img class="cover lazyload" data-src="./images/heros/hero-bg.jpg" alt="Asupan Wareg">
      <div class="over-img"></div>
      <div class="container">
        <div class="content">
          <app-logo></app-logo>
          <h1>
            Asupan
            <span class="typewrite" data-time="2000" data-text='["Wareg", "Kenyang", "Tuwuk"]'>
              <span class="wrap"></span>
            </span>
          </h1>
          <p>Mudahkan anda mencari sesuatu yang membuatmu menjadi kenyang</p>
        </div>
      </div>
    </div>
  </header>
  <nav class="navigation" id="navigation">
    <div class="container">
      <div class="nav-wrap">
        <a href="/" class="logo">
          <app-logo></app-logo>
          <h1 class="h3">
            Asupan Wareg
          </h1>
        </a>
        <div class="overlay"></div>
        <button aria-label="tombol hamburger menu" class="hamburger">
          <div class="my-ham">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
        <ul class="menu">
          <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
          <li><a href="/#/favorite"><i class="fas fa-star"></i>Favorite</a></li>
          <li><a href="https://github.com/rizalarfiyan" target="_blank" rel="noopener noreferrer"><i class="fas fa-user"></i>About</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="search">
    <div class="container">
      <div class="heading">
        <h1 class="h2">Cari Sesuatu</h1>
        <p>Anda bisa menggunakan fitur pencarian sesuai apa yang dibutuhkan</p>
      </div>
      <form id="searchForm">
        <div class="input-group">
          <label for="search-input">Cari Sesuatu</label>
          <input type="text" name="search" id="search-input" placeholder="Cari Sesuatu...">
        </div>
        <button aria-label="cari sesuatu" type="submit">
          <i class="fas fa-search"></i>
          <span class="desc">Cari</span>
        </button>
      </form>
    </div>
  </section>
  <main id="main-content"></main>
  <footer>
    <div class="container">
      <div>Copyright &#169; <span id="year"></span> - <a href="/">Asupan Wareg</a> - All Right Reserved</div>
      <div>Created by <a href="https://arfiyandesign.blogspot.com/">Arfiyan Design</a> with <span class="heart">&#10084;</span></div>
    </div>
  </footer>
</body>
</html>
