<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asupan Wareg</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='./favicon.ico' rel='icon' type='image/x-icon'/>
</head>
<body>
  <a href="#main-content" class="skip-link">Menuju ke konten</a>
  <header class="hero">
    <div class="wrap-hero">
      <img class="cover lazyload" data-src="./images/heros/hero-bg.jpg" alt="Asupan Wareg">
      <div class="over-img"></div>
      <div class="container">
        <div class="content">
          <app-logo></app-logo>
          <h1>
            Asupan
            <span class="typewrite" data-time="2000" data-text='["Wareg", "Kenyang", "Tuwuk"]'>
              <span class="wrap"></span>
            </span>
          </h1>
          <p>Mudahkan anda mencari sesuatu yang membuatmu menjadi kenyang</p>
        </div>
      </div>
    </div>
  </header>
  <nav class="navigation" id="navigation">
    <div class="container">
      <div class="nav-wrap">
        <a href="/" class="logo">
          <app-logo></app-logo>
          <h1 class="h3">
            Asupan Wareg
          </h1>
        </a>
        <div class="overlay"></div>
        <button class="hamburger">
          <div class="my-ham">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
        <ul class="menu">
          <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
          <li><a href="/#/favorite"><i class="fas fa-star"></i>Favorite</a></li>
          <li><a href="https://github.com/rizalarfiyan" target="_blank"><i class="fas fa-user"></i>About</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="search">
    <div class="container">
      <div class="heading">
        <h1 class="h2">Cari Sesuatu</h1>
        <p>Anda bisa menggunakan fitur pencarian sesuai apa yang dibutuhkan</p>
      </div>
      <form id="searchForm">
        <div class="input-group">
          <label for="search-input">Cari Sesuatu</label>
          <input type="text" name="search" id="search-input" placeholder="Cari Sesuatu...">
        </div>
        <button type="submit">
          <i class="fas fa-search"></i>
          <span class="desc">Cari</span>
        </button>
      </form>
    </div>
  </section>
  <main id="main-content"></main>
  <footer>
    <div class="container">
      <div>Copyright &#169; <span id="year"></span> - <a href="/">Asupan Wareg</a> - All Right Reserved</div>
      <div>Created by <a href="https://arfiyandesign.blogspot.com/">Arfiyan Design</a> with <span class="heart">&#10084;</span></div>
    </div>
  </footer>
</body>
</html>
